
section {
    padding: 40px;
}
.about {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}